.item-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.item-list__item:not(:last-child) {
    border-bottom: 1px solid var(--grey-light);
    padding-bottom: 1rem;
}

.item-list__item {
    display: flex;
    gap: 1rem;
}

.list-item__title {
    font-weight: normal;
    font-size: 1rem;
}

.list-item__description {
    font-size: .8rem;
    color: var(--grey);
    /* font-weight: bold; */
}

.list-item__description span{
    /* font-weight: bold; */
    color: black;
}

.list-item__price {
    font-weight: bold;
    font-size: 1.1rem;
}

.list-item__old-price {
    font-weight: lighter;
    font-size: .8rem;
    text-decoration: line-through;
    text-decoration-color: red;
    margin-left: .5rem;
}

.list-item__left {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.list-item__rating {
    display: inline-flex;
    align-items: center;
}

.list-item__comments {
    display: inline-flex;
    align-items: center;
}

.list-item__rating,
.list-item__comments {
    font-size: .8rem;
}

.list-item__img {
    max-height: 9rem;
    padding: 0 2rem;
}

.img-wrapper {
    position: relative;
    margin-bottom: 0.6rem;
}

.image-filter {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(14,50,103,.04);
    border-radius: .7rem;
}

.list-item__add {
    margin-top: 1.7rem;
    padding: .5rem .9rem;
    background-color: var(--blue);
    border: none;
    color: white;
    border-radius: .5rem;
    font-weight: bold;
}

.list-item__left-count {
    font-size: .8rem;
}